body {
  background-color: #f4f4f4;
  padding-top: 2rem;
}

.container {
  max-width: 600px;
}

.form-control,
.btn {
  margin-bottom: 1rem;
}

.list-group-item {
  display: flex;
  flex-direction: column;
}

.list-group-item .d-flex {
  align-items: center;
}

.list-group-item .d-flex .btn {
  margin-top: 0.5rem;
}

.list-group-item .mt-2 {
  font-size: 0.875rem;
  color: #555;
}
